nav .navbar-header span a{
    color: #fff;
}


.user-detail-ul,
.list-group {
  list-style: none;
}
.author-modal ul.list-group {
  max-height: 500px;
}
.profile-img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.logo-img {
  width: 30px;
  height: 30px;
}
#navbar ul.nav li a {
  padding-top: 12px !important;
  padding-bottom: 0px;
}